<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>
       
            <%- include('../partials/header')%>
        
        <div class="content body-content">
            <div class="card">
                <div class="card-body">
                    <form action="/auth/reset_password" method="POST">
                        <div class="mb-3">
                            <label for="password" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <div class="invalid-feedback">Password must be 5-16 characters long and can only contain letters and numbers.</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmationPassword" name="confirmationPassword">
                            <div class="invalid-feedback">Passwords do not match.</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <input type="hidden" name="token" value="<%= token %>">
                        <button type="submit" class="btn btn-primary" disabled>Reset Password</button>
                    </form>
                </div>
            </div>
            <%- include('../partials/alert')%>
        </div>

        <%- include('../partials/footer')%>

            <script>
                const passwordInput = document.getElementById('password');
                const confirmPasswordInput = document.getElementById('confirmationPassword');
                const submitButton = document.querySelector('button[type="submit"]');

                const pattern = /^[a-zA-Z0-9]{5,16}$/;

                function validatePassword(password) {
                    return pattern.test(password);
                }

                function checkInputs() {
                    const isPasswordValid = validatePassword(passwordInput.value);
                    const passwordsMatch = passwordInput.value === confirmPasswordInput.value;

                    passwordInput.classList.toggle('is-valid', isPasswordValid);
                    passwordInput.classList.toggle('is-invalid', !isPasswordValid);

                    confirmPasswordInput.classList.toggle('is-valid', passwordsMatch);
                    confirmPasswordInput.classList.toggle('is-invalid', !passwordsMatch);

                    submitButton.disabled = !(isPasswordValid && passwordsMatch);
                }

                passwordInput.addEventListener('input', checkInputs);
                confirmPasswordInput.addEventListener('input', checkInputs);

            </script>
    </body>

</html>
