<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/header.css">
    <link rel="stylesheet" href="/stylesheet/body.css">
    <%- include('../../partials/bootstrapStyle.ejs')%>
        <title>Document</title>
</head>

<body>
    <header>
        <%- include('../../partials/header')%>
    </header>
    <div class="content body-content">

        <a class="btn btn-primary" href="/admin/" role="button">Back</a>


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">date</th>
                    <th scope="col">comment</th>
                </tr>
            </thead>
            <tbody>


                <% for(var i=0; i < comments.length; i++) { %>
                    <tr>
                        <th scope="row"><%- comments[i].id%></th>
                        <td><%- comments[i].date%></td>
                        <td><%- comments[i].comment%></td>
                        <td><a href="/admin/comments/remove?id=<%- comments[i].id%>">remove</a></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>

    <footer>
        <%- include('../../partials/footer')%>
    </footer>

    <%- include('../../partials/bootstrapJS.ejs')%>
</body>

</html>