<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head')%>

    <body>
        <header>
            <%- include('../../partials/header')%>
        </header>
        <div class="content body-content">

            <a class="btn btn-primary" href="/admin/posts" role="button">Back</a>


            <form action="/admin/posts/edit" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="<%-post.title%>">
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control" id="author" name="author" value="<%-post.author%>">
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" id="date" name="date" value="<%-post.date%>">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="description"
                        name="description"><%-post.description%></textarea>
                </div>
                <div class="mb-3">
                    <label for="imgURL" class="form-label">imgURL</label>
                    <input type="text" class="form-control" id="imgURL" name="imgURL" value="<%-post.imgURL%>">
                </div>

                <input type="hidden" value="<%-post.id%>" name="id" id="id">
                <button type="submit" class="btn btn-primary">Save</button>
            </form>

        </div>

        <%- include('../../partials/footer')%>

    </body>

</html>